*{
    border: 1px solid black;
    box-sizing: border-box;
}

#con{
    width: 1140px;
    margin: auto;
   
}
#header{
    height: 200px;
    display: flex;
} 

#header>div:nth-child(1){
    flex-basis: 15%;
    
}
#header>div:nth-child(2){
    flex-basis: 70%;
   
}
#header>div:nth-child(3){
    flex-basis: 15%;
   
}

#header>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#header>div:nth-child(1)>img{
    width: 120px;
}
#header>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#q{
    width: 500px;
    padding: 10px;
    font-weight: bolder;
    border: 2px solid #455ba8;
    border-radius: 5px;
}
.h2{
    height: 30px;
    display: flex;

    position: sticky;
    top:0;
    /*
sticky 
-스크린이 임계점에 도달햇을때 화면에 스티커처럼 요소를 붙이는 속성
-평소에는 기본 포지션상태를 유지하다가, 임계점 도달시 fixed로 변경돈다
-top, bottom, left
    */
}
.h2>div{
    border: 0px;
}
.h2>div:nth-child(1){
    width: 15%;
    text-align: center;
}
.h2>div:nth-child(1){
    width: 15%;
    text-align: center;
}
.h2>div:nth-child(2){
    width: 15%;
    text-align: center;
}
.h2>div:nth-child(3){
    width: 15%;
    text-align: center;
}
.h2>div:nth-child(4){
    width: 15%;
    text-align: center;
}
.w1:hover{
    background-color: rgb(59, 59, 199);
}
.w2:hover{
    background-color: rgb(59, 59, 199);
}
.w3:hover{
    background-color: rgb(59, 59, 199);
}
.w4:hover{
    background-color: rgb(59, 59, 199);
}
.h3{
    display: flex;
    height: 800px;
    border: 1px solid black;
}
.h3>div:nth-child(1){
    width: 80%;
    
}
.h3>div:nth-child(2){
    width: 20%;
}

