.yellow{
    background-color: yellow;
}
.child{
    color: red;
}
.grandch{
    color: pink;
}
.text{
    border: 1px solid blue;
}
.pwd{
     border: 1px solid blue;
}
.title{
    color: green;
    font-size: 20px;
}
div[class^=user]{
    background-color: lightgrey;
}
div[class|=admin]{
    background-color: greenyellow;
}
div[class$=info]{
    color: red;
}
div[class~=product]{
    background-color: coral;
}
.testbox:hover{
    background-color: green;
}
.testbox:focus{
    background-color: yellow;
}
#container7>.front-weight:nth-child(3){
    font-weight: bold;
}
#cotainer8>p:only-child{
    color: aqua;
}
#container8>p:only-of-type{
    color: blue;
} 
[title*=important]:not([title*=not-important]){
    background-color: red;
}
#menu>.active:active{
    color: red;
}