#color-ul>li{
    font-size: 24px;
    font-weight: bold;
}
#color-ul>li:nth-child(1){color :blue;}
#color-ul>li:nth-child(2){color :#5b87b1;}
#color-ul>li:nth-child(3){color :rgb(91, 135, 177);}
#color-ul>li:nth-child(4){color :rgba(91, 135, 177,0.5);}
#color-ul>li:nth-child(5){color :hsl(209, 36%, 53% );}
#color-ul>li:nth-child(6){color :hsla(209, 36%, 53%, 0.5);}

/*text-decoration*/
#deco-ul>li:nth-child(1){text-decoration: underline;}
#deco-ul>li:nth-child(2){text-decoration:line-through ;}
#deco-ul>li:nth-child(3){text-decoration:overline;}
#deco-ul>li:nth-child(4)> a {text-decoration:none;}

#align-test{
    width: 350px;
    border: 2px solid black;
}
#align-test span{ background-color: pink;}
#align-test>p:nth-child(1){text-align: left;}/*기본은 왼족*/
#align-test>p:nth-child(2){text-align: right;}
#align-test>p:nth-child(3){text-align: center;}

#align-test>p:nth-child(4){text-align: justify;}/*양쪽으로 맞춰주는 정렬*/
#div-1{text-align: center;}

#div-1>div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}