div{
    border: 1px solid black;
    box-sizing: border-box;
}
.test{
    width: 300px;
    height: 200px;
    background-color: #eee;
}
.float-left{
    width: 50px;
    height: 50px;
    background-color: pink;

    /*요소를 화면상에 띄워서 왼쪽으로 흐름을 주어 왼쪽으로 정렬 */
    float:left;
}
.float-right{
    width: 50px;
    height: 50px;
    background-color: chocolate;
    float:right;

}
.clear{
    /*
    현재요소부터 ㄷ겹쳐지는 float상태를 헤채하는 속송 clear의 방향성
    - float눈 left/right로 나누어져있는데.
        지정된 float흐름과 방향을 해체해아 겸침문제가 해결됨
    */
    clear: both;
}
.container{
    width: 400px;
    height: 200px;
}
.div-1{
    width: 50%;
    height: 100%;
    float:left;
}
.bg-1{ background-color: red;}
.bg-2{ background-color: orange;}
.bg-3{ background-color: yellow;}
.bg-4{ background-color: green;}
.bg-5{ background-color: lightblue;}
.bg-6{ background-color: navy;}
.bg-7{ background-color: violet;}

#container-f{
    width: 400px;
    height: 200px;
    border: 3px solid black;
}
.div-2{
    width: 50%;
    height: 50%;
    float:left;
}
.ff1{background-color: orange;}
.ff2{background-color: green}
.ff3{background-color: yellow;}
.ff4{background-color: yellow;}
.ff5{background-color: red;}

#contain3{
    width: 400px;
    height: 400px;
    border: 2px;
}
.row11{
    width: 50%;
    height: 50%;
    float: left;
}
.row22{
    width: 100%;
    height: 100%;
}
