#color-ul>li{
    font-size: 24px;
    font-weight: bold;
}
#color-ul>li:nth-child(1){color :blue;}
#color-ul>li:nth-child(2){color :#5b87b1;}
#color-ul>li:nth-child(3){color :rgb(91, 135, 177);}
#color-ul>li:nth-child(4){color :rgba(91, 135, 177,0.5);}
#color-ul>li:nth-child(5){color :hsl(209, 36%, 53% );}
#color-ul>li:nth-child(6){color :hsla(209, 36%, 53%, 0.5);}

/*text-decoration*/
#deco-ul>li:nth-child(1){text-decoration: underline;}
#deco-ul>li:nth-child(2){text-decoration:line-through ;}
#deco-ul>li:nth-child(3){text-decoration:overline;}
#deco-ul>li:nth-child(4)> a {text-decoration:none;}

#align-test{
    width: 350px;
    border: 2px solid black;
}
#align-test span{ background-color: pink;}
#align-test>p:nth-child(1){text-align: left;}/*기본은 왼족*/
#align-test>p:nth-child(2){text-align: right;}
#align-test>p:nth-child(3){text-align: center;}

#align-test>p:nth-child(4){text-align: justify;}/*양쪽으로 맞춰주는 정렬*/
#div-1{text-align: center;}

#div-1>div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}
#line-test> p:last-child{
    line-height: 10px;
}
#center-test{
    width:200px;
    height:200px;
    border: 1px solid black;

    text-align: center;
    line-height: 200px;
}
#center-test>div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline;
}
#letter-test{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
#shadow{
    background-color: black;
}
#shadow>p{
    font-size: 75px;
    font-weight: bold;
}
#shadow>p:nth-child(1){
    color: tomato;
    text-shadow: 3px 3px white;/*가로 세로 색상*/
}
#shadow>p:nth-child(2){
    color: rgb(231, 211, 208);
    text-shadow: 5px 5px 5px rgb(187, 44, 44);/*가로 세로 범짐 색상*/
}
#shadow>p:nth-child(3){
    color: rgb(231, 211, 208);
    opacity: 0,9;
    text-shadow: 0px 0px 10px rgb(138, 23, 132);/*가로 세로 범짐 색상*/
}
#shadow>p:nth-child(4){
    text-shadow: 0px 0px 4px #ccc, 0px -5px 4px #ff3 , 2px -10px 6px #fd3, -2px -15px 11px #f80,
    2px -20px 18px #f20;
}