#size-test>li:nth-child(1){font-size: 24px;}
#size-test>li:nth-child(2){font-size: 18pt;}
#size-test>li:nth-child(3){font-size: 150%;}
#size-test>li:nth-child(4){font-size: 1.5;}
/*크롬브라우저 기분 기본 글꼴 크기 16px*/

#weight-test>li{font-size: 30px;}

#weight-test>li:nth-child(1){font-weight: 600;}
#weight-test>li:nth-child(2){font-weight: bold;}
#weight-test>li:nth-child(3){font-weight: bolder;}
#weight-test>li:nth-child(4){font-weight: lighter;}
#weight-test>li:nth-child(5){font-weight: normal;}

/*font-familly*/
.cls>li{font-family: 24px;}
#familly-test1>li:nth-child(1){
    font-family: '궁서';
}
#familly-test1>li:nth-child(2){
    font-family: '경민체' ,'동희체','굴림체';/* 이거 없으면 다음꺼 없으면 다음꺼 */
}
#familly-test2>li:nth-child(2)> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}