img{
    width: 250px;
    height: auto;
}
/*tarensform : 변형과 관련된 속성*/
.trans-x-2d:hover{
    transform: translateX(100px);/*오른쪽으로 100px만틈 이동 -는 왼쪽으로*/
}
.-trans-y-2d:hover{
    transform: translateY(-100px);/*-는 위로 그냥로 아래로 */
}
.-trans-d-2d:hover{
    transform: translate(100px, 100px);/*첫번째 왼쪽오른쪽 두번째 아래 위*/
}
.trans-x-2d:hover{
    transform: scaleX(3)/*배율이  가로로 확대*/
}
.trans-y-2d:hover{
    transform: scaleY(2);/*배율이  세로로 확대*/
}
.trans-d-2d:hover{
    transform: scale(2,2);/*배율이  가로 세로 확대*/
}
.trans-rotate:hover{
    transform: rotate(90deg);
}
.trans-3d:hover{
    /*perspective(z축의 길이): 원근법 적용*/
    transform: perspective(300px) translate3d(50px, 50px, 100px);
}
.trans-rotate-x-3d:hover{
    transform: perspective(300px) rotateX(45deg);
}
.trans-rotate-y-3d:hover{
    transform: perspective(300px) rotateY(45deg);
}
.trans-rotate-z-3d:hover{
    transform: perspective(300px) rotateZ(45deg);
}
.trans-rotate-3d:hover{
    transform: perspective(300px) rotate3d(0.5,0.5,0.5,45deg);
}
/*trandition*/
.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(111, 143, 82);

    transition-duration: 1s; /*스타일이 변경되는 시간을 지정한다*/
}

.test1:hover{
    background-color: rgb(125, 107, 143);
}
.test2:hover{
    transform: rotate(360deg);
    background-color: burlywood;

    border-radius: 50%;/*동그라미로 바꾸는법 50%는 동그라미 더 낮으면 끝이 둥근모영*/
}
.test3{
    transition-duration: 3s;/*변경에 걸리는 시간*/

    transition-timing-function: cubic-bezier(0,-0.69,0,2.91);
}
.test3:hover{
    background-color: darkgray;
}
.test4{
   transition-delay: 1s; 
   transition-property/*지연시간을 추가*/: background-color,transform;
   /*이 변경이 있을때만 변경?? */
}
.test4:hover{
    background-color: cadetblue;
    font-size: 50px;
    transform: translateX(100px);
}