#test1>p:only-child{
    background-color: steelblue;
}
#test2> p:only-of-type{
    background-color: coral;
}
/*:empty */
#test3 >p:empty{
    height: 30px;
    background-color: lightgreen;
}
/*여려선택자 동시 선택*/
        #test4-1, #test4-2,.test4-3{
            background-color: aqua;
        }
    /*특정요소 내부에 클래스 선택하기*/
    #test5-1 li.c5{
        background-color: cornflowerblue;
    }
    /*여러클래스를 가진 요소 선택*/
    .c6.test6{
        background-color: brown;
    }