.area1{background-color: brown;}
.area2{background-color: rgb(192, 143, 51);}
.area3{background-color: rgb(119, 119, 29);}
.area4{background-color: rgb(48, 151, 48);}
.area5{background-color: rgb(64, 64, 175);}

.block{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    color: white;

    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.top{
    height: 80px;
     background-color: brown;
}
.dowm{height: 180px;
     background-color: rgb(19, 19, 138);
}
#container-1{
    border: 3px solid black;
    width: 323px;
    height: 427px;

}
#container-1> div:first-of-type{
    background-color: brown;
    height: 30%;
}


#container-1> div:last-of-type{
    background-color: rgb(35, 35, 160);
    height: 70%;
}
#container-2{
    border: 3px solid black;
    width: 280px;
    height: 500px;
}
#container-2> div:first-of-type{
    background-color: rgb(151, 196, 62);
    height: 20%;
}
#container-2>div:nth-child(2){
    background-color: tomato;
    height: 28%;
}
#container-2>div:last-of-type{
    background-color: skyblue;
    height: 52%;
}
#container-3{
    border: 5px solid red;
    width: 400px;
    height: 200px;
}

#container-3> div{
    width: 50%;
    height: 100%;
    display: inline-block;
}
#container-3> :first-child{
  
    background-color: rgb(180, 50, 130);
}
#container-3>{
   
    background-color: rgb(47, 41, 136);
}
.div-4{
    border: 3px solid black;
    height: 100px;
}
#test4{
    background-color: blueviolet;
    /* display: none; *//*요소는 존재하지만 화면엣는 보이지 않는다+ 영역도 차지하지 않는다.*/

    visibility: hidden;/*요소의 투명도를 0으로만든는 속성*/
}


