.box{
    width: 100px;
    height: 100px;
    background-color:rgb(99, 88, 128);
}
.content{
    /*
    width/height 속성은 기본작으로 ;
    */
    width: 150px;
    height: 150px;

}
.border{
    border: 10px solid tomato;
    /*이건영역 120*/

}
.padding{
    padding: 30px;/* content와 border 사이 간역을 30px만큼 벌림*/
}
.margin{
    margin: 50px;
}
/*
서로 다른 요소의 margin이 겹치는 경우 더 큰 magin을 가진 요소릐 값을 따른다. 
*/
#m1{
    margin-top: 100px;
}

.padding-test{
    /* padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px; */
    /*패딩. 마진 속성: 
    작성방법에 따라 특정방향으로 크기를 지정할 수 있다.
    
    크기를 1개만 지정한 경우 : 상하좌우 
    padding :30px ;*/

    /*값 2개 : 상하 , 죄우*/
    /* padding : 50px 100px */

    /*값 3개 : 상 , 좌우 , 하*/
    padding : 10px 50px 100px;

    /*값이 4개 : 상 , 우, 하 ,좌 (시계방향)*/
    padding : 10px 20px 30px 40px;
}
.margin-test{
    margin-top: 30px;

    /*패딩속성 사용법과 동일하다*/
    margin: 50px 200px 50px 100px;

}
.border-test{
    /*보더 속성은 , 테두리의 너비, 스타일, 색상을 모두 지정해야한다. */
    border-top: 1px solid black; 
    border-bottom: 5px dashed rgb(248, 103, 248);
    border-left: 10px dotted blue;
    border-right: 7px double tomato;
    /*테두리의 두깨만을 설정하는 속성으로, 상하좌우값을 한번에 처리할수 있다.(padding, magin과 동일)*/
    border-width: 20px 10px 5px 2px;
}
.container{
    width: 500px;
    height: 300px;
    border: 2px solid black;
}
.margin-auto{
    /*
    부모자식관의 관계라도 서로다른 요소이기 때문에 마진을 벌릴수 있다
    */
    /* margin-top: 100px;
    margin-left: 200px; */

    /*요소의 좌우 간격을 자동으로 동알하개 정렬해주는 속성*/
    margin: 100PX auto;
}
#box-sizing{
    /*
    테두리 10px 패딩 20px 나머지 내용
    전체요소의 크기가 가로/세로 300px인 정사각형 만들기
    */
    border: 10px solid black;
    padding: 20px;
    /*기본 박스사이징 사용시 padding과 border사이즈를 감안하여 가로, 세로 크기를 계산해여한다.
    /* width: 240;
    height: 240; */
    box-sizing: border-box;
    width: 300px;
    height: 300px;

    /* content-box (기본값)*
        -width / height 속성 지정시 content영여긔 크기를 지정*/
    /*border-box
        - -width / height 속성 지정시 content +padding +border의 크기를*/


}